* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  /* some var */
  --the-best-color: orange;
}
.box {
  width: 3rem;
  height: 4rem;
  background-color: var(--the-best-color);
  /* step 1: animation name */
  animation-name: move;
  /* step 2: animation for how long*/
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-delay: 3s;
}

/* step 3: keyframes */
@keyframes move {
  0% {
    width: 4rem;
    background-color: deeppink;
  }
  30% {
    width: 5.5rem;
    height: 6rem;
    background-color: paleturquoise;
  }
  50% {
    width: 5rem;
    height: 6rem;
    background-color: lime;
  }
  100% {
    width: 6rem;
    background-color: blue;
  }
}

.shape {
  width: 3rem;
  height: 4rem;
  background-color: darkred;
  /* step 1: animation name */
  animation-name: change;
  /* step 2: animation for how long*/
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  /* animation-delay: 3s; */
  display: block;
  position: absolute;
}
@keyframes change {
  from {
    opacity: 0;
    top: 0;
    left: 0;
  }
  to {
    opacity: 1;
    right: 50%;
  }
}
