html {
    background-color: rgb(245, 237, 237);
}
 tr:nth-child(1) :nth-child(1){
background-color: yellow;
}
tr:nth-child(4) :nth-child(n + 3):nth-child(-n + 12){
    background-color:green;
}
tr:nth-child(5) :nth-child(n + 3):nth-child(-n + 12){
    background-color: green;
}
tr:nth-child(6) :nth-child(n + 4):nth-child(-n +12){
    background-color: green;
}
tr:nth-child(7) :nth-child(n + 4):nth-child(-n +12){
    background-color:green ;
}
tr:nth-child(8) :nth-child(n + 2):nth-child(-n + 15){
    background-color: rgb(17, 150, 238);
}
tr:nth-child(9) :nth-child(n + 2):nth-child(-n + 15){
    background-color: rgb(48, 205, 176);
}
tr:nth-child(2) td:nth-child(2){
    background-color: rgb(242, 225, 111);
}
tr:nth-child(2) :nth-child(n + 14):nth-child(-n +16){
    background-color:yellow ;
}
tr:nth-child(2) :nth-child(n + 17):nth-child(-n +17){
    background-color:orange ;
}
tr:nth-child(2) :nth-child(n + 18):nth-child(-n +18){
    background-color:rgb(227, 119, 227) ;
}
tr:nth-child(1) :nth-child(n + 18):nth-child(-n +18){
    background-color:rgb(227, 119, 227) ;
}
tr:nth-child(3) :nth-child(n + 16):nth-child(-n + 16) {
    border: 5px dashed blue;