h1 {
    display: block;
}
h1 > span {
    color: red;
}

.shapes{
    width: 15rem;
border: 2px dashed rebeccapurple;
}
.shapes div {
    width: 4rem;
    height:4rem;
    margin: 0.2rem;
    border: 2px solid orange;
    
}
.a {
    border-radius:50% ;
    background-color: yellow;
}
.b{
    background-color: aqua;
}
.c { 
    background-color: black;
}
.g {
    background-color: blueviolet;
}
