$BACKGROUND_COLOR: #819768;
$ACCENT_COLOR: #9ead8d71;

$FONT_STACK: Arial, Helvetica, sans-serif;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: $FONT_STACK;
	font-size: 22px;
	color: white;
}

html,
body {
	height: 100%;
}

/* navigation */
nav {
	background-color: $BACKGROUND_COLOR;
	height: 3.5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;

	.logo {
		margin-left: 2rem;
		font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
		font-size: 1.5rem;
		text-transform: uppercase;
		text-decoration: none;
	}

	ul {
		height: 100%;
		display: flex;
		flex-direction: row;
		align-items: center;
		list-style: none;
	}

	ul li {
		height: 100%;
		width: 6.5rem;
	}

	ul li:hover {
		background-color: $ACCENT_COLOR;
		transition: 0.4s ease-in-out;
	}

	li a {
		height: 100%;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		text-decoration: none;
	}

	input[type="checkbox"] {
		display: none;
	}

}


/* toggle */
.toggle {
	width: 2rem;
	height: 1.3rem;
	position: absolute;
	top: 1rem;
	right: 1rem;
	display: none;
	flex-direction: column;
	justify-content: space-between;
}

.menu {
	font-size: 3rem;
	line-height: 1.4rem;
}

@media (max-width: 850px) {
	.toggle {
		display: flex;
	}

	nav {
		ul {
			height: min-content;
			width: 100%;
			background-color: $BACKGROUND_COLOR;

			/* display: block; */
			display: none;
			position: absolute;
			top: 3.5rem;
		}

		ul li {
			height: min-content;
			width: 100%;
		}

		li a {
			padding: 1.3rem 0;
		}
	}

	/* check click on hamburgermenü */
	#toggle:checked~ul {
		display: block;
	}

}
