body {
    font-size: 10px;
    font-family: sans-serif;
    display: grid;
    grid-template-columns: auto;
    gap: 1ex;  
}
.columns {
    display: grid;
    grid-template-columns:repeat(8, 11.4vw);
    gap: 0.5em;
}
img {
    width: 100px;
    height: 100px;
}
main{
    grid-template-rows: repeat(4 ,12vw);
}
img3 {
    grid-column: 7 / span 2;
    grid-row: 1 / span 2;
}
img4 {
    grid-column: 3;
    grid-row: 2;
}
img5 {
    grid-column: 5;
    grid-row: 2;
}
img6 {
    grid-column: 1 / span 2;
    grid-row: 3 /SPAN 2;
}
img7 {
    grid-column: 4;
    grid-row: 3;
}
img8 {
    grid-column: 6;
    grid-row: 3;
}
img9 {
    grid-column: 7;
    grid-row: 4;
}
.copyright {
    font-style: italic;
    grid-column: 6;
}
header {
    margin-bottom: -0.5vw;
}
header h1 {
    padding-left: 1ex;
}
h1{
    grid-column: span 2;
}
h1, h2, h3 ,{
    font-size: smaller;
}

h3 {
    font-weight: normal;
}

