html{height: 6.25;
font-size: 3.25;
}

body {
  margin: 0 auto;
  border: 2px solid #575052;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
}

h1 {
  height: 6.25;
  font-size:3.25
  padding: ;
  margin: 0;
  color: #e62260;
  background-color: #e7becb;
}

p {height: 10%;
  font-size: 1.625;

  padding: 0;
  margin: 0;
  color: #2b5c32;
}

ul {height:30rem;
  font-size: 1.25rem;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

li {
  color: #963629;
}

.li1 {
  background-color: antiquewhite;
}

.li2 {
  background-color: #e9d1b3;
}

.li3 {
  background-color: #d6a67a;
}

.p1 {
  background-color: #a7dfcc;
}

.p2 {
  background-color: #afe2ae;
}
