/* root */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* body */
body {
  background-color: orange;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100vw;
}
.container div {
  border: 2px solid red;
}
